<footer class="footer footer-1">
  <a href="/"><img class="logo" src="../img/pool-pros-logo-footer.png" alt="Pool Pros Logo"></a>
  <div class="contain-social">
    <p class="connect">connect with us</p>
    <ul class="list-social">
      <li><a href="#"><i class='icon-footer icon-twitter' alt=""></i></li>
      <li><a href="#"><i class='icon-footer icon-facebook' alt=""></i></li>
      <li><a href="#"><i class='icon-footer icon-youtube' alt=""></i></li>
    </ul>
  </div>
</footer>
<footer class="footer footer-2">
  <ul>
    <li>© 2017 Pool Pros</li>
    <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms and Conditions</a></li>
    </ul>
</footer>
