<div id="contact-form-overlay" class="overlay hidden"></div>
<div id="contact-form-modal" class="contact-form-modal hidden">
  <form id="contact-form" action="">
    <!-- create success message, fade out -->
    <div>
      <h4>Email</h4>
      <h3 id='company-name-1'></h3>
    </div>
    <p>Fill out the form below and <span id="company-name-2"></span> will get in touch.</p>
    <label for="name"><input class='name' type="text" required pattern="[a-zA-Z0-9]+[ ][a-zA-Z0-9]+"><img src="./img/circle-form.png" alt="">First and last name</label>
    <label for="number"><input class='number' type="tel" required pattern="\d{3}[\-]\d{3}[\-]\d{4}">Phone number</label>
    <label for="email"><input class='email' type="email" required>Email address</label>
    <label for="comments"><input class='comments' type="text">Comments or questions (optional)</label>
    <fieldset>
      <legend> Do you currently own a pool or spa? </legend>
      <label> <input type="radio" name="ownership-status" value="Yes"> Yes </label>
      <label> <input type="radio" name="ownership-status" value="No"> No </label>
    </fieldset>
    <button>Send</button>
    </ul>
  </form>
</div>
