<!--
top bar
  links
main nav

 -->
<header class="header-1">
  <ul>
    <li><a href="#">Dealers and Distributers</a></li>
    <li><a href="">Commercial Service <i></i></a></li>
  </ul>
</header>

<header class='header-2'>
  <a href="/"><img class="logo" src="./img/pool-pros-logo.png" alt='Pool Pros Logo'></img></a>
  <button class="btn btn-find-a-pro"><i class=" icon-location"></i>Find a Pro</button>
  <button id="hamburger" class="hamburger"></button>
  <div id="overlay" class="overlay hidden"></div>
  <nav id="nav" class="nav hidden">
    <button><i id="btn-close-nav" class="ss-delete"></i></button>
    <h3>Menu</h3>
    <ul>
      <li><a href="#">Pools &amp; Spas</a></li>
      <li><a href="#">Supplies</a> </li>
      <li><a href="#">Resources</a></li>
      <li><a href="#">Services</a></li>
    </ul>
  </nav>
  <!-- <button><i></i></button> -->
</header>
