<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Pool Pros</title>
<meta name=viewport content="width=device-width">
<link rel="stylesheet" href="./css/normalize.css">
<link href="./css/fonts/ss-pika/ss-pika.ttf" />
<link href="./css/fonts/ss-pika/ss-pika.woff" />
<link href="./css/fonts/ss-pika/ss-pika.css" rel="stylesheet" />
<link rel="stylesheet" href="./css/main.css">
<script type="text/javascript" src="./js/main.js"></script>
