<!--
top bar
  links
main nav

 -->
<header>
  <ul>
    <li><a href="#">Dealers and Distributers</a></li>
    <li><a href="">Commercial Service <i></i></a></li>
  </ul>
</header>

<header>
  <li><a href="#">Pool Pros</a></li>
  <button id="hamburger"><i class="ss-rows">Hamburger</i></button>
  <nav id="nav" class="nav">
    <button><i id="btn-close-nav" class="ss-delete"></i></button>
    <h3>Menu</h3>
    <ul>
      <li><a href="#">Pools &amp; Spas <i class="ss-navigateright"></i></a></li>
      <li><a href="#">Supplies <i class="ss-navigateright"></i></a> </li>
      <li><a href="#">Resources <i class="ss-navigateright"></i></a></li>
      <li><a href="#">Services <i class="ss-navigateright"></i></a></li>
    </ul>
  </nav>
  <button><i></i>Find a Pool Pro</button>
  <button><i></i></button>
</header>
