// global SASS color & font variables
// variables named after colors? yikes! - I know, but I can always keyword replace, and increases readability
$white: #fff;
$grey: #616161;
$grey-active: #393939;
$blue: #01529e;
$teal: #0bc9c8;
$teal-active: #0badac;
$lt-grey: #f6f6f6;
$lt-grey-hov: #efefef;

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans'), local('Open Sans'), url('./fonts/open-sans/OpenSans-Semibold.tff') format('tff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  src: local('Open Sans'), local('Open Sans'), url('./fonts/open-sans/OpenSans-Bold.tff') format('tff');
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
}


// 1.875em margin top & bottom

// mobile navigation pop-up menu
.nav {
  transition: all .25s ease-in;
  opacity: 1;
  visibility: visible;
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  border-top: 5px solid $teal;
  border-bottom: 5px solid $teal;
  background-color: $white;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.29);
  -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.29);
  box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.29);
  h3 {
    margin-top: 2.938em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.125em;
    text-align: center;
    margin-bottom: 2.188em;
    color: $blue;
  }
  button {
    transition: all .25s ease-in-out;
    padding: 5px 7px;
    margin: 0;
    position: absolute;
    right: calc(7% - 7px);
    top: calc(1.5em - 5px);
    border: none;
    font-size: 1.1em;
    background-color: $white;
    color: $teal;
    &:focus, &:active {
      i {
        transition: all .25s ease-in-out;
        color: $teal-active;
      }
    }
  }
  ul {
    padding-left: 0;
    margin: 0;
  }
  li {
    border-bottom: 2px solid $white;
    list-style-type: none;
    background-color: $lt-grey;
    &:last-child {
      border-bottom: none;
    }
    a {
      transition: all .25s ease-in-out;
      background-color: $lt-grey;
      position:relative;
      display: block;
      padding: 1.875em 0;
      padding-left: 7%;
      text-decoration: none;
      color: $grey;
      font-size: 1.125em;
      font-weight: 600;
      &:focus {
        transition: all .25s ease-in-out;
        background-color: $lt-grey-hov;
      }
      &:active {
        transition: all .25s ease-in-out;
        color: $grey-active;
        i {
          transition: all .25s ease-in-out;
          color: $teal-active;
        }
      }
      i {
        transition: all .25s ease-in-out;
        color: $teal;
        position: absolute;
        right: 7%;
        font-size: 1.1em;
        margin-top: 1.5px;
      }
    }
  }
}

.hidden {
  transition: all .25s ease-out;
  opacity: 0;
  visibility: hidden;
}
