* {
  box-sizing: border-box; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans"), local("Open Sans"), url("./fonts/open-sans/OpenSans-Semibold.tff") format("tff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: local("Open Sans"), local("Open Sans"), url("./fonts/open-sans/OpenSans-Regular.tff") format("tff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 100;
  src: local("Open Sans"), local("Open Sans"), url("./fonts/open-sans/OpenSans-Light.tff") format("tff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  src: local("Open Sans"), local("Open Sans"), url("./fonts/open-sans/OpenSans-Bold.tff") format("tff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: normal;
  src: local("Open Sans"), local("Open Sans"), url("./fonts/open-sans/OpenSans-Italic.tff") format("tff"); }

.wrapper-inner {
  max-width: 1440px;
  margin: 0 auto; }

body {
  font-family: 'Open Sans', Arial, sans-serif;
  background-image: url("../img/water-image.png");
  background-repeat: no-repeat;
  background-position: top 2.5em center;
  min-height: 100%;
  color: #616161; }

ul {
  margin: 0; }
  ul li {
    list-style-type: none; }
  ul a {
    text-decoration: none; }

.overlay {
  transition: all .25s ease-in;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block; }

.hamburger {
  position: absolute;
  right: .25em;
  top: .25em;
  height: 58px;
  width: 58px;
  background-image: url("../img/menu-icon-mobile.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border: none; }

.nav {
  z-index: 2;
  transition: all .25s ease-in;
  opacity: 1;
  visibility: visible;
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  border-top: 5px solid #0bc9c8;
  border-bottom: 5px solid #0bc9c8;
  background-color: white;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.29); }
  .nav h3 {
    margin-top: 2.938em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.125em;
    text-align: center;
    margin-bottom: 2.188em;
    color: #01529e; }
  .nav button {
    transition: all .25s ease-in-out;
    padding: 5px 7px;
    margin: 0;
    position: absolute;
    right: calc(7% - 7px);
    top: calc(1.5em - 5px);
    border: none;
    font-size: 1.1em;
    background-color: white;
    color: #0bc9c8; }
    .nav button:focus i, .nav button:active i {
      transition: all .25s ease-in-out;
      color: #0badac; }
  .nav ul {
    padding-left: 0;
    margin: 0; }
  .nav li {
    border-bottom: 2px solid white;
    list-style-type: none;
    background-color: #f6f6f6; }
    .nav li:last-child {
      border-bottom: none; }
    .nav li a {
      background-image: url("../img/next-arrow.png");
      background-size: 13px 16px;
      background-repeat: no-repeat;
      background-position: right 1.875em center;
      transition: all .25s ease-in-out;
      background-color: #f6f6f6;
      position: relative;
      display: block;
      padding: 1.875em 0;
      padding-left: 7%;
      text-decoration: none;
      color: #616161;
      font-size: 1.125em;
      font-weight: 600; }
      .nav li a:focus {
        transition: all .25s ease-in-out;
        background-color: #efefef; }
      .nav li a:active {
        transition: all .25s ease-in-out;
        color: #393939; }
        .nav li a:active i {
          transition: all .25s ease-in-out;
          color: #0badac; }
      .nav li a i {
        transition: all .25s ease-in-out;
        color: #0bc9c8;
        position: absolute;
        right: 7%;
        font-size: 1.1em;
        margin-top: 1.5px; }

.header-1 {
  display: none; }

.header-2 {
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: .6875em;
  padding-bottom: .6875em;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.29);
  background-color: white; }
  .header-2 .logo {
    height: 1.75em; }

.hidden {
  transition: all .25s ease-out;
  opacity: 0;
  visibility: hidden; }

.btn {
  transition: all .25s ease-in-out;
  background-color: transparent;
  padding: .44em .6875em;
  padding-top: calc(.44em + 3px);
  border: 1px solid #216ddf;
  border-radius: 3px;
  font-size: .6875em;
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: top;
  color: #216ddf; }
  .btn:active, .btn:focus {
    transition: all .25s ease-in-out;
    background-color: #efefef; }

.btn-find-a-pro {
  float: right;
  margin-right: calc(58px + .25em); }

.icon-location {
  height: 1.5em;
  width: 1.5em;
  vertical-align: middle;
  display: inline-block;
  margin-top: -2px;
  background-image: url("../img/location-icon.png");
  background-size: contain;
  background-repeat: no-repeat; }

.footer {
  color: white;
  text-align: center; }
  .footer a {
    color: white; }

.footer-1 {
  padding-top: 2.25em;
  padding-bottom: 1em;
  background-color: #01529e; }
  .footer-1 .logo {
    height: 26px;
    width: 188px;
    margin-bottom: .5em; }
  .footer-1 .icon-twitter {
    width: 22px;
    height: 18px; }
  .footer-1 .icon-facebook {
    width: 12px;
    height: 23px; }
  .footer-1 .icon-youtube {
    width: 21px;
    height: 25px; }
  .footer-1 .connect {
    font-size: .938em;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 1.5em; }
  .footer-1 .list-social {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: text-bottom; }
    .footer-1 .list-social li {
      display: inline;
      margin-right: .5em; }
      .footer-1 .list-social li:last-child {
        margin-right: 0; }

.footer-2 {
  background-color: #216ddf;
  font-size: .75em;
  padding-top: 1em;
  padding-bottom: 1em; }
  .footer-2 ul {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .footer-2 ul li {
      display: inline;
      line-height: 1.3;
      padding-right: .75em;
      border-right: 1px solid white;
      padding-left: .5em;
      margin: 0; }
      .footer-2 ul li:last-child {
        padding-right: 0;
        border: none; }
      .footer-2 ul li a {
        transition: all .25s ease-in-out; }
        .footer-2 ul li a:active, .footer-2 ul li a:focus {
          transition: all .25s ease-in-out;
          color: #efefef; }

.filter-bar {
  background-color: #f6f6f6;
  border-radius: 10px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 7em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 2em;
  text-align: center; }
  .filter-bar .zip-blurb {
    color: #216ddf;
    font-weight: bold;
    font-size: 1.125em;
    margin: 0;
    padding-bottom: 1em;
    position: relative; }
    .filter-bar .zip-blurb:after {
      content: '';
      width: 95%;
      left: 2.5%;
      position: absolute;
      bottom: 0;
      height: 1px;
      background-color: #efefef; }
  .filter-bar .title-filter {
    color: #616161;
    font-weight: bold;
    font-size: 1.125em;
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em; }
  .filter-bar .checkboxes-filter {
    margin: 0 auto;
    display: inline-block;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%; }
    .filter-bar .checkboxes-filter li {
      font-size: .75em;
      color: #616161;
      text-align: left;
      margin-bottom: 1em;
      display: inline-block;
      width: 50%; }
      .filter-bar .checkboxes-filter li input {
        margin-right: .5em;
        -webkit-appearance: none;
        border: 1px solid #d8d8d8;
        border-radius: 6px;
        height: 25px;
        width: 25px;
        background-color: white;
        vertical-align: middle; }
      .filter-bar .checkboxes-filter li input:checked {
        border: 8px inset #216ddf;
        border-style: solid inset solid solid; }
      .filter-bar .checkboxes-filter li:last-child {
        margin-bottom: 0; }
  .filter-bar .btn-tooltip {
    margin-left: .75em;
    position: relative;
    border-radius: 2px;
    text-align: center;
    background-color: #d8d8d8;
    color: #216ddf;
    padding: 4px 7.15px;
    border: none;
    vertical-align: middle;
    transition: all .25s ease-in-out; }
    .filter-bar .btn-tooltip:hover, .filter-bar .btn-tooltip:active, .filter-bar .btn-tooltip:focus {
      background-color: #a7a7a7;
      transition: all .25s ease-in-out; }
      .filter-bar .btn-tooltip:hover::after, .filter-bar .btn-tooltip:active::after, .filter-bar .btn-tooltip:focus::after {
        content: 'Sed at utamur petentium, facilisis repudiare nec eu.';
        transition: all .25s ease-in-out;
        z-index: 2;
        width: 100px;
        position: absolute;
        background-color: white;
        padding: 1em;
        right: 0;
        top: 2.5em;
        color: #616161;
        line-height: 1.4;
        border-radius: 3px;
        -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.29);
        -moz-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.29);
        box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.29); }

.dealer-cards {
  margin-bottom: 5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 2.5%;
  margin-right: 2.5%;
  justify-content: space-around; }
  .dealer-cards .card {
    display: none;
    width: 100%;
    max-width: 415px;
    margin-top: .5em;
    margin-bottom: .5em;
    border: 1px solid #f6f6f6;
    -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.29);
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.29);
    border-radius: 10px; }
    .dealer-cards .card .card-header {
      padding-left: 5%;
      padding-right: 5%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 7em; }
      .dealer-cards .card .card-header:after {
        content: '';
        width: 90%;
        left: 5%;
        position: absolute;
        bottom: 0;
        height: 1px;
        background-color: #efefef; }
      .dealer-cards .card .card-header h3 {
        flex: 1;
        font-size: 1.625em;
        font-weight: 100;
        line-height: 1.3;
        margin: 0;
        color: #616161;
        text-align: center; }
    .dealer-cards .card .card-info {
      padding-left: 5%;
      padding-right: 5%; }
    .dealer-cards .card .card-info-phone {
      font-size: 1.625em;
      font-weight: bold;
      color: #3f3f3f;
      text-align: center; }
      .dealer-cards .card .card-info-phone img {
        vertical-align: text-bottom;
        height: 1.15em;
        width: 1.15em;
        margin-right: .3em; }
    .dealer-cards .card .card-comment {
      font-style: italic;
      font-size: .75em;
      text-align: center;
      margin-bottom: 2.167em; }
    .dealer-cards .card .btn-contact-form {
      transition: all .25s ease-in-out;
      display: block;
      margin: 0 auto;
      border: 1px solid #0bc9c8;
      border-radius: 3px;
      color: #01529e;
      padding: 1em;
      font-weight: bold;
      background-color: white;
      margin-bottom: 2.5em; }
      .dealer-cards .card .btn-contact-form:focus, .dealer-cards .card .btn-contact-form:active {
        transition: all .25s ease-in-out;
        background-color: #f6f6f6; }
      .dealer-cards .card .btn-contact-form .email-icon {
        height: 1em;
        vertical-align: text-top;
        margin-right: 1em; }
    .dealer-cards .card h4 {
      text-align: center;
      margin-bottom: .5em; }
    .dealer-cards .card .card-hours {
      margin-bottom: 3em;
      text-align: center;
      padding-left: 0;
      font-size: .8125em;
      font-weight: normal;
      line-height: 1.5; }
    .dealer-cards .card .service-types {
      padding-left: 5%;
      padding-right: 5%;
      background-color: #f6f6f6;
      padding-top: 2.5em;
      padding-bottom: 1.5em;
      display: flex;
      flex-direction: column;
      border-radius: 0px 0px 10px 10px;
      font-size: .75em;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 110px;
      padding-left: 10%;
      justify-content: center; }
      .dealer-cards .card .service-types li {
        flex: 1;
        list-style-type: none;
        width: 50%;
        margin-bottom: 1em; }
      .dealer-cards .card .service-types .service-icon {
        vertical-align: bottom;
        height: 1em; }
  .dealer-cards .show-card {
    display: block; }

.contact-form-modal {
  position: fixed;
  top: 5em;
  left: 5%;
  right: 5%;
  background-color: white; }
  .contact-form-modal label {
    position: relative; }
  .contact-form-modal .modal-header {
    background-color: #01529e;
    color: white;
    padding: 1em 5% 2em 5%; }
  .contact-form-modal .modal-body {
    padding: 2em 5%; }
    .contact-form-modal .modal-body p {
      margin: 0;
      margin-bottom: 2em; }
    .contact-form-modal .modal-body label {
      display: block;
      font-size: .875em;
      font-weight: bold;
      line-height: 2;
      position: relative; }
    .contact-form-modal .modal-body label.label-radio {
      line-height: 1;
      margin-right: 1em; }
      .contact-form-modal .modal-body label.label-radio:last-child {
        margin-right: 0; }
    .contact-form-modal .modal-body .label-comments {
      width: 180px;
      display: inline-block; }
    .contact-form-modal .modal-body .input-info {
      font-style: italic;
      color: #bebebe;
      font-size: .875em;
      float: right;
      margin-bottom: 0;
      line-height: 2; }
    .contact-form-modal .modal-body input, .contact-form-modal .modal-body textarea {
      display: block;
      width: 100%;
      margin-bottom: .75em;
      color: #616161;
      padding: .5em; }
    .contact-form-modal .modal-body .comments {
      min-height: 4.5em;
      border-color: #bebebe; }
    .contact-form-modal .modal-body .container-form-input {
      position: relative; }
    .contact-form-modal .modal-body .container-form-input-number {
      width: 75%; }
    .contact-form-modal .modal-body .container-form-input-ownership {
      border-bottom: 2px solid #ececec;
      padding-bottom: 1.5em; }
      .contact-form-modal .modal-body .container-form-input-ownership input {
        display: inline;
        width: auto; }
      .contact-form-modal .modal-body .container-form-input-ownership label {
        display: inline; }
      .contact-form-modal .modal-body .container-form-input-ownership .label-ownership {
        display: block;
        width: 100%; }
      .contact-form-modal .modal-body .container-form-input-ownership input[type=radio] {
        background-color: white;
        border: none;
        position: relative;
        margin-right: .25em;
        height: 1em;
        width: 1em; }
        .contact-form-modal .modal-body .container-form-input-ownership input[type=radio]::after {
          content: '';
          position: absolute;
          top: 0;
          left: -1px;
          right: 1px;
          bottom: 0;
          background-color: #d8d8d8;
          border: 1px solid black;
          border-radius: 2px; }
      .contact-form-modal .modal-body .container-form-input-ownership input[type=radio]:checked::after {
        background-color: white;
        border: 4.5px solid #216ddf; }
    .contact-form-modal .modal-body .btn-contact-form-submit {
      transition: all .25s ease-in-out;
      margin-top: 2em;
      background-color: white;
      color: #0bc9c8;
      font-weight: bold;
      float: right;
      margin-bottom: 1.5em;
      border: none; }
      .contact-form-modal .modal-body .btn-contact-form-submit:focus, .contact-form-modal .modal-body .btn-contact-form-submit:active {
        transition: all .25s ease-in-out;
        background-color: #efefef; }
  .contact-form-modal h4 {
    margin: 0;
    text-transform: uppercase;
    font-size: .875em;
    margin-bottom: .25em; }
  .contact-form-modal h3 {
    font-size: 1.75em;
    margin: 0;
    font-weight: 100; }

.checkmark {
  position: absolute;
  background-image: url(../img/circle-form.png);
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1.25em;
  top: .25em;
  width: 1.25em; }

.checkmark-checked {
  transition: all .25s ease-in-out;
  background-image: url("../img/checkmark-circle.png"); }

input:focus:invalid {
  outline: none; }
