// SASS COLOR VARIABLES ////////////////////////////////////////////////////////
$white: #fff;
$grey: #616161;
$grey-dark: #3f3f3f;
$grey-active: #393939;
$grey-form: #bebebe;
$lt-grey: #f6f6f6;
$lt-grey-hov: #efefef;
$tool-tip-grey: #d8d8d8;
$blue: #01529e;
$blue-light: rgba(33, 109, 223, 1);
$blue-active: rgba(33, 109, 223, .5);
$teal: #0bc9c8;
$teal-active: #0badac;
$break-line: #ececec;
////////////////////////////////////////////////////////////////////////////////

// SET WIDTH AND HEIGHT PROPERTIES TO INCLUDE PADDING AND BORDER ///////////////
* {
  box-sizing: border-box;
}
////////////////////////////////////////////////////////////////////////////////

// SASS FONT MIXINS - LOAD LOCAL OPEN SANS FONT FILES //////////////////////////
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans'), local('Open Sans'), url('../fonts/open-sans/OpenSans-Semibold.tff') format('tff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans'), local('Open Sans'), url('../fonts/open-sans/OpenSans-Regular.tff') format('tff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 100;
  src: local('Open Sans'), local('Open Sans'), url('../fonts/open-sans/OpenSans-Light.tff') format('tff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  src: local('Open Sans'), local('Open Sans'), url('../fonts/open-sans/OpenSans-Bold.tff') format('tff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: normal;
  src: local('Open Sans'), local('Open Sans'), url('../fonts/open-sans/OpenSans-Italic.tff') format('tff');
}
////////////////////////////////////////////////////////////////////////////////

// SET DEFAULT STYLINGS, WRAPPER, OVERLAY FOR MODALS ///////////////////////////
.wrapper-inner {
  max-width: 1440px;
  margin: 0 auto;
}
.section-dealers {
  background-image: url('../img/water-image.png');
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 7em;
  margin-top: .5em;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  min-height: 100%;
  color: $grey;
}

ul {
  margin: 0;
  li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
}

.overlay {
  z-index: 1;
  transition: all .25s ease-in;
  opacity: 1;
  background-color: rgba(0,0,0,.3);
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:block;
}
////////////////////////////////////////////////////////////////////////////////

// MOBILE NAVIGATION ///////////////////////////////////////////////////////////
.hamburger {
  position: absolute;
  right: .25em;
  top: .25em;
  height: 58px;
  width: 58px;
  background-image: url('../img/menu-icon-mobile.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border: none;
  &:active, &:focus {
    background-image: url('../img/menu-icon-mobile-teal.png');
  }
}

.nav {
  z-index: 2;
  transition: all .25s ease-in;
  opacity: 1;
  visibility: visible;
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  left:0;
  border-top: 5px solid $teal;
  border-bottom: 5px solid $teal;
  background-color: $white;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.29);
  -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.29);
  box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.29);
  h3 {
    margin-top: 2.938em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.125em;
    text-align: center;
    margin-bottom: 2.188em;
    color: $blue;
  }
  button {
    transition: all .0s;
    padding: 6px 10px;
    padding-top: 10px;
    margin: 0;
    position: absolute;
    right: 2.5%;
    top: calc(1.5em - 5px);
    border: none;
    font-size: 1.1em;
    background-color: $white;
    color: $teal;
    &:focus, &:active {
      background-color: $teal;
      i {
        transition: all 0s;
        color: $white;
      }
    }
  }
  ul {
    padding-left: 0;
    margin: 0;
  }
  li {
    border-bottom: 2px solid $white;
    list-style-type: none;
    background-color: $lt-grey;
    &:last-child {
      border-bottom: none;
    }
    a {
      background-image: url('../img/next-arrow.png');
      background-size: 13px 16px;
      background-repeat: no-repeat;
      background-position: right calc(2.5% + .55em) center;
      transition: all .25s ease-in-out;
      background-color: $lt-grey;
      position:relative;
      display: block;
      padding: 1.875em 0;
      padding-left: 7%;
      text-decoration: none;
      color: $grey;
      font-size: 1.125em;
      font-weight: 600;
      &:focus, &:active {
        transition: all 0s;
        background-color: $teal;
        background-image: url('../img/next-arrow-white.png');
        color: $white;
      }
      i {
        transition: all .25s ease-in-out;
        color: $teal;
        position: absolute;
        right: 7%;
        font-size: 1.1em;
        margin-top: 1.5px;
      }
    }
  }
}
////////////////////////////////////////////////////////////////////////////////

// HEADERS /////////////////////////////////////////////////////////////////////
.header-1 {
  display: none;
  a {
    transition: all .25s ease-in;
    &:hover, &:active {
      transition: all .25s ease-out;
      opacity: .7;
    }
  }
  .ss-action {
    margin-left: .5em;
    vertical-align: middle;
  }
}

.header-2 {
  .logo-link {
    line-height: 4em;
  }
  .logo {
    height: 1.25em;
    &:active, &:focus {
      opacity: .5;
    }
  }
  height: 3.5em;
  padding-left: 2.5%;
  padding-right: 2.5%;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.29);
  -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.29);
  box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.29);
  background-color: $white;
}

.hidden {
  transition: all .25s ease-out;
  opacity: 0;
  visibility: hidden;
}

.btn-find-a-pro {
  transition: all 0s;
  background-color: transparent;
  padding: .44em .6875em;
  padding-top: calc(.44em + 3px);
  border: 1.25px solid $blue-light;
  border-radius: 3px;
  font-size: .6875em;
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: top;
  color: $blue-light;

  &:focus {
    .icon-location {
      transition-duration: 0s;
      background-image: url('../img/location-icon-white.png');
    }
    background-color: $blue-light;
    color: $white;
  }

  &:active {
    background-color: $blue-light;
  }

  float: right;
  margin-right: calc(58px);
  margin-top: calc(4em - 30.5px);
}

.icon-location {
  height: 1.5em;
  width: 1.5em;
  vertical-align: middle;
  display: inline-block;
  margin-top: -2px;
  background-image: url('../img/location-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
}
////////////////////////////////////////////////////////////////////////////////

// FOOTERS /////////////////////////////////////////////////////////////////////
.footer {
  color: $white;
  a {
    color: $white;
  }
  text-align: center;

}
.footer-1 {
  padding-top: 2.25em;
  padding-bottom: 1em;
  background-color: $blue;
  .logo {
    height: 26px;
    width: 188px;
    margin-bottom: .5em;
    &:active, &:focus {
      opacity: .5;
    }
  }


  .connect {
    font-size: .938em;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 1.5em;
  }
  .list-social {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: text-bottom;
    li {
      display: inline;
      margin-right: .5em;
      &:last-child {
        margin-right: 0;
      }
    }

    i {
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .icon-twitter {
      background-image: url('../img/twitter-icon.png');
      &:active, &:focus {
        background-image: url('../img/twitter-icon-white.png');
      }
      width: 22px;
      height: 18px;
    }
    .icon-facebook {
      background-image: url('../img/facebook-icon.png');
      &:active, &:focus {
        background-image: url('../img/facebook-icon-white.png');
      }
      width: 12px;
      height: 23px;
    }
    .icon-youtube {
      background-image: url('../img/youtube-icon.png');
      &:active, &:focus {
        background-image: url('../img/youtube-icon-white.png');
      }
      width: 21px;
      height: 25px;
    }

  }

}
.footer-2 {
  background-color: $blue-light;
  font-size: .75em;
  padding-top: 1em;
  padding-bottom: 1em;
  ul {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    li {
      display: inline;
      line-height: 1.3;
      padding-right: .75em;
      border-right: 1px solid $white;
      padding-left: .5em;
      margin: 0;
      &:last-child {
        padding-right: 0;
        border: none;
      }
      a {
        transition: all .25s ease-in-out;
        &:active, &:focus {
          transition: all .25s ease-in-out;
          opacity: .7;
        }
      }
    }
  }
}
////////////////////////////////////////////////////////////////////////////////

/// BUSINESS CARDS & FILTER ////////////////////////////////////////////////////
.filter-bar {
  background-color: $lt-grey;
  border-radius: 10px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 2em;
  text-align: center;

  .zip-blurb {
    color: $blue-light;
    font-weight: bold;
    font-size: 1.125em;
    margin: 0;
    padding-bottom: 1em;
    position: relative;
    &:after {
      content: '';
      width: 95%;
      left: 2.5%;
      position: absolute;
      bottom: 0;
      height: 1px;
      background-color: $lt-grey-hov;
    }
  }

  .title-filter {
    color: $grey;
    font-weight: bold;
    font-size: 1.125em;
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;

  }

  .checkboxes-filter {
    margin: 0 auto;
    display: inline-block;
    padding-left: 0;
    display: flex;
    flex-direction :row;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    li {
        font-size: .75em;
        color: $grey;
        text-align: left;
        margin-bottom: 1em;
        display: inline-block;
        width: 50%;
        input {
          margin-right: .5em;
          -webkit-appearance: none;
          border: 1px solid $tool-tip-grey;
          border-radius: 6px;
          height: 25px;
          width: 25px;
          background-color: $white;
          vertical-align: middle;
        }
        input:checked {
          border: 8px inset $blue-light;
          border-style: solid inset solid solid;
        }
        &:last-child {
          margin-bottom: 0;
        }
    }
  }

  .btn-tooltip {
    margin-left: .75em;
    position: relative;
    border-radius: 2px;
    text-align: center;
    background-color: $tool-tip-grey;
    color: $blue-light;
    padding: 4px 7.15px;
    border: none;
    vertical-align: middle;
    transition: all .25s ease-in-out;
    &:hover, &:active, &:focus {
      background-color: #a7a7a7;
      transition: all .25s ease-in-out;
      &::after {
        content: 'Sed at utamur petentium, facilisis repudiare nec eu.';
        transition: all .25s ease-in-out;
        z-index: 2;
        width: 100px;
        position: absolute;
        background-color: $white;
        padding: 1em;
        right: 0;
        top: 2.5em;
        color: $grey;
        line-height: 1.4;
        border-radius: 3px;
        -webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.29);
        -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.29);
        box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.29);
      }
    }
  }
}

// clearfix
.dealer-cards:after{
  content: "";
  display: table;
  clear: both;
}

.dealer-cards {
  margin-bottom: 5em;
  margin-left: 2.5%;
  margin-right: 2.5%;
  justify-content: space-around;
  .card {
    float:left;
    display: none;
    width: 100%;
    margin: 0 auto;
    margin-top: .5em;
    margin-bottom: 2em;
    border: 1px solid $lt-grey;
    -webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.29);
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.29);
    border-radius: 10px;
    .card-header {
      padding-left: 5%;
      padding-right: 5%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 7em;
      &:after {
        content: '';
        width: 90%;
        left: 5%;
        position: absolute;
        bottom: 0;
        height: 1px;
        background-color: $lt-grey-hov;
      }
      h3 {
        flex: 1;

        font-size: 1.625em;
        font-weight: 100;
        line-height: 1.3;
        margin: 0;
        color: $grey;
        text-align: center;
      }
    }
    .card-info {
      padding-left: 5%;
      padding-right: 5%;
    }
    .card-info-phone {
      font-size: 1.625em;
      font-weight: bold;
      color: $grey-dark;
      text-align: center;
      img {
        vertical-align: text-bottom;
        height: 1.15em;
        width: 1.15em;
        margin-right: .3em;
      }
    }
    .card-comment {
      font-style: italic;
      font-size: .75em;
      text-align: center;
      margin-bottom: 2.167em;
    }

    .btn-contact-form {
      display: block;
      margin: 0 auto;
      border: 1.25px solid $teal;
      border-radius: 3px;
      color: $blue;
      padding: 1em;
      font-weight: bold;
      background-color: $white;
      margin-bottom: 2.5em;
      .email-icon {
        height: 1em;
        width: 1em;
        vertical-align: text-bottom;
        margin-right: .75em;
        background-image: url("../img/email-icon.png");
        background-size: contain;
        display: inline-block;
        background-repeat: no-repeat;
      }
      &:focus {
          transition: all 0s;
          background-color: $teal;
          color: $white;
          .email-icon {
            background-image: url('../img/email-icon-white.png');
          }
      }
      &:active {
        transition: all 0s;
        background-color: $teal;
        .email-icon {
          background-image: url('../img/email-icon-white.png');
        }
      }

    }
    h4 {
      text-align: center;
      margin-bottom: .5em;
    }
    .card-hours {
      margin-bottom: 3em;
      text-align: center;
      padding-left: 0;
      font-size: .8125em;
      font-weight: normal;
      line-height: 1.5;
    }
    .service-types {
      padding-left: 5%;
      padding-right: 5%;
      background-color: $lt-grey;
      padding-top: 2.5em;
      padding-bottom: 1.5em;
      display: flex;
      flex-direction: column;
      border-radius: 0px 0px 10px 10px;
      font-size: .75em;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 110px;
      padding-left: 10%;
      justify-content: center;
      li {
        flex: 1;
        list-style-type: none;
        width: 50%;
        margin-bottom: 1em;
      }
      .service-icon {
        vertical-align: bottom;
        height: 1em;
      }
    }
  }
  .show-card{
    display: inline-block;
  }
}
////////////////////////////////////////////////////////////////////////////////

// MODAL CONTACT FORM ///////////////////////////////////////////////////////
.contact-form-modal {
  max-width: 700px;
  margin: 0 auto;
  z-index: 2;
  position: absolute;
  top: 5em;
  left: 5%;
  right: 5%;
  background-color: $white;

  .btn-close-modal {
    background-color: $blue;
    color: $white;
    font-size: 1.5em;
    padding: .75em;
    float:right;
    border: none;
    display: none;
  }
  .send-desktop-text {
    display:none;
  }
  label {
    position: relative;
  }
  .modal-footer{
    background-color: $lt-grey;
    color: $grey;
    padding: 1em 5% 2em 5%;
    display:none;
  }
  .modal-header{
    background-color: $blue;
    color: $white;
    padding: 1em 5% 2em 5%;
  }
  .modal-body {
    padding: 2em 5%;

    p {
      margin: 0;
      margin-bottom: 2em;
    }
    label {
      display: block;
      font-size: .875em;
      font-weight: bold;
      line-height: 2;
      position: relative;
    }

    label.label-radio {
      line-height: 1;
      margin-right: 1em;
      &:last-child{
        margin-right: 0;
      }
    }

    .label-comments {
      width: 180px;
      display: inline-block;
    }
    .input-info {
      font-style: italic;
      color: $grey-form;
      font-size: .875em;
      float:right;
      margin-bottom: 0;
      line-height: 2;
    }
    input::placeholder {
      color: $grey-form;
      font-weight: 100;
    }
    input, textarea {
      display: block;
      width: 100%;
      margin-bottom: .75em;
      color: $grey;
      padding: .5em;
      border: 1px solid $grey-form;
    }
    .comments {
      min-height: 4.5em;
      border-color: $grey-form;
    }
    .container-form-input {
      position: relative;
    }
    .container-form-input-number {
      width: 75%;
    }


    .container-form-input-ownership {
      border-bottom: 2px solid $break-line;
      padding-bottom: 1.5em;

      input {
        display: inline;
        width: auto;
      }
      label {
        display: inline;
      }
      .label-ownership {
        display: block;
        width: 100%;
      }

      input[type=radio] {
        background-color: $white;
        border: none;
        position: relative;
        margin-right: .25em;
        height: 1em;
        width: 1em;
        &::after {
          content: '';
          position: absolute;
          top: -1px;
          left: -1px;
          right: 0;
          bottom:0;
          background-color: $tool-tip-grey;
          border: 1px solid black;
          border-radius: 2px;
        }
      }

      input[type=radio]:checked{
        &::after {
          background-color: $white;
          border: 4.5px solid $blue-light;
        }
      }

    }

    .btn-contact-form-submit {
      margin-top: 1em;
      background-color: $white;
      color: $teal;
      font-weight: bold;
      float: right;
      margin-bottom: 1em;
      border: none;
      padding: 1em;
      &:focus, &:active {
        transition: all .0s;
        background-color: $teal;
        color: $white;
      }
    }
  }
  h4 {
    margin: 0;
    text-transform: uppercase;
    font-size: .875em;
    margin-bottom: .25em;
  }
  h3 {
    font-size: 1.75em;
    margin: 0;
    font-weight: 100;
  }
}

.checkmark {
    position: absolute;
    background-image: url(../img/circle-form.png);
    right: 0;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1.25em;
    top: .25em;
    width: 1.25em;
}

.checkmark-checked {
  transition: all .25s ease-in-out;
  background-image: url('../img/checkmark-circle.png');
}


input:focus:invalid {
  outline: none;
}
////////////////////////////////////////////////////////////////////////////////

/// MEDIA QUERIES //////////////////////////////////////////////////////////////
@media screen and (min-width: 400px){
  .header-2 {
    height: 3.6em;
    .logo-link {
      line-height: 4.6em;
    }
    .logo {
      height: 1.75em;
    }
  }
}

@media screen and (min-width: 590px){
    .dealer-cards {
      margin-right: 0;
      .card {
        width: 47.50%;
        margin-right: 2.5%;
      }
    }
}

@media screen and (min-width: 785px){
  .contact-form-modal {
    .modal-header{
      padding-top: 2em;
    }
    .btn-close-modal{
      display: inline;
      padding: .5em .8em;
      padding-top: calc(.5em + 10px);
      transition: all .2s ease;
      &:hover, &:active, &:focus {
        transition: all .2s ease;
        background-color: $white;
        color: $teal;
      }
    }
  }
  .contact-form {
    padding: 1.5em;
    background-color: $lt-grey;
  }
  .contact-form-modal .modal-footer{
    display: block;
    padding-bottom: 1em;
    p {
      font-size: .78125em;
      line-height: 1.6;
    }
  }
  .contact-form-modal .modal-body {
    .button-holder {
      text-align: center;
    }
    .send-desktop-text {
      display:inline;
    }
    .btn-contact-form-submit {
      color: $grey;
      background-color: $lt-grey;
      padding-right: 2em;
      position: relative;
      float:unset;
      margin-bottom: 0;
      margin-top: 1.5em;
      &:after {
        position: absolute;
        right: .5em;
        bottom: 1.15em;
        content: '';
        width: 1em;
        height: 1em;
        background-image: url('../img/next-arrow.png');
        background-repeat: no-repeat;
        background-size: contain;
        transition: all .25s ease;
      }
      &:hover, &:active, &:focus {
        &:after{
          transition: all .25s ease;
          background-image: url('../img/next-arrow-white.png');
        }
      }
    }
  }
  .contact-form-modal .modal-body .container-form-input-ownership {
      input[type=radio] {
        transition: all 0s;
        height: 2em;
        width: 4em;
        margin-top: .75em;
        margin-right: 0;
        &::after {
          transition: all 0s;
          padding-top: .35em;
          text-align: center;
          color: black;
          background-color: $white;
          border: 1px solid black;
          border-radius: 3px;
        }
      }

      input[type=radio] + span{
        font-weight: 100;
        transition: all 0s;
        position: absolute;
        bottom: 9px;
        left: 14px;
        background-image: none;
      }
      input[type=radio]:checked{
        transition: all 0s;
        &::after {
          transition: all 0s;
          background-color: $teal;
          border: 1px solid black;
          color: $white;
        }
      }
      input[type=radio]:checked + span{
        transition: all 0s;
        color: $white;
      }
  }

  .footer-1 .logo, .header-2 .logo {
    transition: all .25s ease;
    &:hover {
      transition: all .25s ease;
      opacity: .5;
    }
  }
  .footer-1 .list-social {
    a {
      transition: all .25s ease;
      &:hover {
        transition: all .25s ease;
        .icon-twitter {
          background-image: url('../img/twitter-icon-white.png');
        }
        .icon-facebook {
          background-image: url('../img/facebook-icon-white.png');
        }
        .icon-youtube {
          background-image: url('../img/youtube-icon-white.png');
        }
      }
    }
  }

  .card .btn-contact-form {
    &:hover {
      transition: all .25s ease;
      background-color: $teal;
      color: $white;
      .email-icon {
        transition: all .25s ease;
        background-image: url('../img/email-icon-white.png');
      }
    }
  }

  .contact-form-modal .btn-contact-form-submit:hover {
    transition: all .25s ease;
    background-color: $teal;
    color: $white;
  }
  .header-1 {
    display: block;
    visibility: visible;
    opacity: 1;
    background-color: $blue;
    height: 2.625em;
    .wrapper-innner{
      position: relative;
      height: 2.625em;
    }
    ul {
      margin-right: 2.5%;
      float: right;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      min-width: 350px;
      justify-content: space-between;
    }
    li {
      flex: 1;
      text-align: right;
      &:last-child {
        margin-right: 0;
      }
    }
    a {
      color: $white;
      font-size: .75em;
      line-height: 3.295em;
    }

  }
  body {
    background-position: top 6.25em left;
  }
  .header-2 {
    height: 6.25em;
    .logo-link {
      line-height: 7.25em;
    }
    .nav li a {
      line-height: 6.25em;
    }

    .btn-find-a-pro {
      margin-top: calc(6.25em - 33.5px);
      &:hover {
        transition: all .25s ease;
        background-color: $blue-light;
        color: $white;
        .icon-location {
          transition: all .25s ease;
          background-image: url('../img/location-icon-white.png');
        }
      }
    }
  }
  .hamburger {
    display: none;
  }
  .nav {
    z-index: 1;
    position: relative;
    float: right;
    opacity: 1;
    visibility: visible;
    border: none;
    width: 45%;
    box-shadow: none;
    margin-right: 8%;
    button {
      display: none;
    }
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      min-width: 391px;
      justify-content: space-around;
    }
    li {
      flex: 1;
      background-color: $white;
      border: none;
      display: inline-block;
      text-align: center;
      &:last-child {
        margin-right: 0;
      }
      a {
        background-color: $white;
        background: none;
        color: $blue;
        padding: 0;
        font-size: 1em;
        line-height: 3.5em;
        position: relative;

        &:hover {
          background-color: $white;
          color: $blue-light;
          transition: all 0s;
          background-image: none;

          &:after {
            content: '';
            height: 3px;
            left: 1px;
            right: 1px;
            bottom: 32px;
            position: absolute;
            background-color: $blue-light;
          }
        }
        &:active, &:focus {
          background-color: $white;
          color: $blue-light;
          background-image: none;
          &:after {
            content: '';
            height: 3px;
            left: 1px;
            right: 1px;
            bottom: 32px;
            position: absolute;
            background-color: $blue-light;
          }
        }
      }
    }
    h3 {
      display: none;
    }
  }

  .btn-find-a-pro {
    margin-right: 0;
  }

  .filter-bar {

    .title-filter {
      display: inline-block;
    }
    .checkboxes-filter {
      min-width: 535px;
      display: inline-block;
      margin-left: 2em;
      li {
        width: 24%;
      }
    }
  }

  .footer-2 {
    a:hover {
      transition: all .25s ease-in-out;
      opacity: .7;
    }
  }
}

@media screen and (min-width: 1150px){
    .dealer-cards {
      margin-right: 0;
      .card {
        width: 30.8341%;
        margin-right: 2.5%;
      }
    }
    .nav {
      margin-right: 2.5%;
    }
}

@media screen and (min-width: 1300px){
  .filter-bar {
    text-align: inherit;
    padding-left: 10%;
    padding-right: 10%;
    .zip-blurb {
      display: inline-block;
      border-right: 1px solid $break-line;
      padding-bottom: 0;
      padding-right: 2em;
      line-height: 3em;
      &::after {
        display: none;
      }
    }
    .title-filter {
      display: inline-block;
      margin-left: 2em;
    }
    .checkboxes-filter {
      min-width: 535px;
      display: inline-block;
      margin-left: 2em;
      li {
        width: 24%;
      }
    }
  }
}

@media screen and (min-width: 1500px){
  .filter-bar{
    margin-left: 0;
    margin-right: 0;
  }
  .dealer-cards {
    margin-left: 0;
    margin-right: -2.5%;
  }
  .header-1 ul {
    margin-right: 0;
  }

  .section-dealers {
    padding-top: 9em;
  }
}

////////////////////////////////////////////////////////////////////////////////
