<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">


  <% include ../partials/header %>


    <main>
      <% include ../partials/dealers %>
    </main>


    <% include ../partials/footer %>


</body>

</html>
