<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">
  <% include ../partials/header %>
    <main>
      <% include ../partials/dealers %>
        <% include ../partials/form %>
    </main>
    <% include ../partials/footer %>
</body>

</html>
